body{
    background-color: #b9cde0;
}

.home{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.8)),
    url('../images/background.webp');
    background-size: cover;
}
.intro{
    color: white;
    padding: 10% 20%;
    text-align: justify;
    font-size: 20px;
    font-weight: 200;
}
.name{
    font-size: 50px;
}
.main{
    background: url('../images/R.gif');
    background-size: cover;

}
.card:hover{
    background-color: yellow;
}
.card:hover{
    border: 2px solid black;
    transition: transform .5s ease;
}
.card:hover{
    overflow: hidden;
    transition: transform .5s ease;
    transform: scale(1.1);
}
.card-body:hover{
    display: block;
  color: black;
}
.card-title:hover{
    text-decoration: underline;
}